body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: rgb(160, 128, 223);
}
p{
   color: rgb(27, 69, 34);
    margin: 30px auto 10px;
    
}
/* first mem */
.accordion{
    max-width: 300px;
    margin: 20px auto;
}
.acc-tittle{
    display:block;
    color:rgb(255, 234, 0);
    cursor:pointer;
}
.acc-tittle:hover{
    color:blue;
    transition: color .7s;
}
.mem_cats{
    width: 300px;
    height: 150px;
}
.acc-mem{
    display:none;
}
.acc-input{
    --webkit-appearance: none;
    appearance: none;
}
.acc-input:checked + .acc-tittle{
    color: black;
}
.acc-input:checked + .acc-mem{
    display: block;
  
    
}