/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: smooth 3s;
} */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: rgb(160, 128, 223);

}
p{
   color: rgb(27, 69, 34);
    margin: 30px auto 10px;
    
}
/* first mem */
.accordeon{
    width: 90%;
    max-width:300px;
    margin: 30px auto;
    transition:  0.8s;
}
.acc-tittle{
    display:block;
    color:rgb(255, 234, 0);
    cursor:pointer;
    
}
.acc-tittle:hover{
    color:blue;
    transition: color .7s;
    
}
.mem_cats{
    width: 300px;
    height: 150px;
}
.acc-mem{
    display:none;
}
.acc-input{
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}
.acc-input:checked +.acc-mem{
    display: block;
}
#accordion_2:active{
overflow: hidden;
color:black
}
.acc-tittle:active:hover{
    color:red;
    cursor: pointer;
    transition:  .7s ;
}
